.category__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category__btn {
  /* display: block; */
  margin: 2em 1em;
  padding: 12px;

  font-size: 1em;
  font-weight: 700;

  border: none;
  border-radius: 10px;
  background-color: #b715fd;

  transition: all 0.4s;
  cursor: pointer;
}
